<button type="button" data-toggle={{if toggle toggle ""}} title={{if title title ""}} {{bind-attr class=":btn btnColorName :dropdown-toggle btnClassName btnRadius"}} {{action "toggle"}}>
{{#if icon}}
  <span {{bind-attr class=":glyphicon glyphicon"}} aria-hidden="true"></span>
{{else}}
  {{#if img}}
    <img {{bind-attr src="img"}} width="16" height="16"/>
  {{else}}
    {{item}}
  {{/if}}
{{/if}}
    <span class="caret"></span>
</button>
<div class="hidden">
  {{yield}}
</div>
