<button type="button" data-toggle="tooltip" title="Draw the Trailer's Trail"
        class="btn btn-pink map-draw-trailer" {{action 'toggleDraw' 'Trailer'}}>
    <img src="assets/images/walk.png" class="inverted" width="16" height="16"/>
</button>
<button type="button" data-toggle="tooltip" data-original-title="{{followPathModeTitle}}"
        class="btn btn-brown-red map-draw-follow-path" {{action 'toggleFollowPathMode'}}>
    <span class="glyphicon glyphicon-{{followPathModeIcon}}" aria-hidden="true"></span>
</button>
<button type="button" class="btn btn-info mtg-modify" data-toggle="tooltip"
        title="Click on an item to modify it" {{action 'toggleModify'}}>
    <img src="assets/images/hand.png" width="16" height="16"/>
</button>
