{{render "mapLocation" controller="mapLocation"}}
{{view "map" id="map"}}
<div class="logo">
    <img src="assets/images/canimap_cross_on_dog.png"/>
</div>
<div class="top-container btn-group">
  {{render "mtgTrailBasic" controller="mtgTrail"}}
  <div class="mtg-mode">
    <a role="button" class="btn btn-success radius-right" data-toggle="tooltip"
       title="Switch to expert mode"  {{bind-attr href=expertURL}}>
        Expert
    </a>
  </div>
  {{render "mapLayers" controller="mapLayers"}}
</div>

