<tr>
    <td class="title">{{t "map.menu.weather.result.time"}}</td>
    <td>{{weather.time}}</td>
</tr>
<tr>
    <td class="title">Icon</td>
    <td><img width="24" {{bind-attr src=weather.weatherIconUrl}} alt="Logo"/></td>
</tr>
<tr>
    <td class="title">{{t "map.menu.weather.result.FeelsLikeC"}}</td>
    <td>{{ weather.FeelsLikeC }} °C</td>
</tr>
<tr>
    <td class="title">{{t "map.menu.weather.result.wind.direction"}}</td>
    <td class="wind-direction"><img src="assets/images/arrow-right.png"/></td>
</tr>
<tr>
    <td class="title">{{t "map.menu.weather.result.humidity"}}</td>
    <td>{{ weather.humidity }} %</td>
</tr>
<tr>
    <td class="title">{{t "map.menu.weather.result.precipMM"}}</td>
    <td>{{ weather.precipMM }} mm</td>
</tr>
<tr>
    <td class="title">{{t "map.menu.weather.result.windspeedKmph"}}</td>
    <td>{{ weather.windspeedKmph }} km/h</td>
</tr>
<tr>
    <td class="title">{{t "map.menu.weather.result.tempC"}}</td>
    <td>{{weather.tempC}} °C</td>
</tr>
<tr>
    <td class="title">{{t "map.menu.weather.result.winddir16Point"}}</td>
    <td>{{weather.winddir16Point}}</td>
</tr>
<tr>
    <td class="title">{{t "map.menu.weather.result.visibility"}}</td>
    <td>{{ weather.visibility }} km</td>
</tr>
<tr>
    <td class="title">{{t "map.menu.weather.result.pressure"}}</td>
    <td>{{ weather.pressure }} millibars</td>
</tr>
<tr>
    <td class="title">{{t "map.menu.weather.result.cloudcover"}}</td>
    <td>{{ weather.cloudcover }} %</td>
</tr>
