{{#dropdown-list item="Draw" icon="pencil" btn-radius="no-radius"}}
    <ul class="dropdown-menu map-draw-dropdown">
        <li class="btn-group">
            <button type="button" data-toggle="tooltip" data-original-title="Draw a Point"
                    class="btn btn-danger map-draw-point" {{action 'toggleDraw' 'Point'}}>
                <img src="assets/images/point.png" class="inverted" width="12" height="12"/>
            </button>
            <button type="button" data-toggle="tooltip" data-original-title="Add description"
                    class="hidden btn btn-success map-draw-marker" {{action 'toggleDraw' 'Marker'}}>
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </button>
            <button type="button" data-toggle="tooltip" data-original-title="Draw a Zone"
                    class="btn btn-primary map-draw-polygon" {{action 'toggleDraw' 'Polygon'}}>
                <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
            </button>
            <button type="button" data-toggle="tooltip" data-original-title="Draw the Trailer's Trail"
                    class="btn btn-pink map-draw-trailer" {{action 'toggleDraw' 'Trailer'}}>
                <img src="assets/images/walk.png" class="inverted" width="16" height="16"/>
            </button>
            <button type="button" data-toggle="tooltip" data-original-title="Draw the Team's Trail"
                    class="btn btn-warning map-draw-team" {{action 'toggleDraw' 'Team'}}>
                <img src="assets/images/track.png" class="inverted" width="16" height="16"/>
            </button>
            <button type="button" data-toggle="tooltip" data-original-title="{{followPathModeTitle}}"
                    class="btn btn-brown-red map-draw-follow-path" {{action 'toggleFollowPathMode'}}>
                <span class="glyphicon glyphicon-{{followPathModeIcon}}" aria-hidden="true"></span>
            </button>
          {{#dropdown-list item="Color" img="assets/images/palette.gif" }}
              <ul {{bind-attr class=":dropdown-menu :map-draw-color-dropdown"}}>
                  <li>
                      <table class="">
                          <tbody>
                          {{#each row in colors}}
                              <tr class="">
                                {{#each color in row}}
                                    <td {{action 'changeColor' color}} {{bind-attr title=color}} class="color-picker"/>
                                {{/each}}
                              </tr>
                          {{/each}}
                          </tbody>
                      </table>
                  </li>
              </ul>
          {{/dropdown-list}}
            <button type="button" class="btn btn-info mtg-modify" data-toggle="tooltip"
                    data-original-title="Click on an item to modify it" {{action 'toggleModify'}}>
                <img src="assets/images/hand.png" width="16" height="16"/>
            </button>
        </li>
    </ul>
{{/dropdown-list}}
