{{#dropdown-list item="Draw" icon="pencil" btn-radius="no-radius" toggle="tooltip" title="map.menu.draw.tooltip"}}
    <ul class="dropdown-menu map-draw-dropdown">
        <li class="btn-group">
            <button type="button" data-toggle="tooltip" data-original-title={{t "map.menu.draw.point.tooltip"}}
                    class="btn btn-danger map-draw-point" {{action 'drawPointAction'}}>
                <img src="assets/images/point.png" class="inverted" width="12" height="12"/>
            </button>
            <button type="button" data-toggle="tooltip" data-original-title={{t "map.menu.draw.marker.tooltip"}}
                    class="hidden btn btn-success map-draw-marker" {{action 'toggleDraw' 'Marker'}}>
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </button>
            <button type="button" data-toggle="tooltip" data-original-title={{t "map.menu.draw.polygon.tooltip"}}
                    class="btn btn-primary map-draw-polygon" {{action 'drawPolygonAction'}}>
                <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
            </button>
            <button type="button" data-toggle="tooltip" data-original-title={{t "map.menu.draw.linestring.tooltip"}}
                    class="btn btn-pink map-draw-linestring" {{action 'drawLineStringAction'}}>
                <img src="assets/images/winding-road.png" class="inverted" width="16" height="16"/>
            </button>
            {{#path-mode command=command }}{{/path-mode}}
          {{#dropdown-list item="Color" img="assets/images/palette.gif" toggle="tooltip" title="map.menu.draw.palette.tooltip"}}
              <ul {{bind-attr class=":dropdown-menu :map-draw-color-dropdown"}}>
                  <li>
                      <table class="">
                          <tbody>
                          {{#each colors key="@index" as |row|}}
                              <tr class="">
                                {{#each row key="@item" as |color|}}
                                    <td {{action 'changeColor' color}} {{bind-attr title=color}} class="color-picker"/>
                                {{/each}}
                              </tr>
                          {{/each}}
                          </tbody>
                      </table>
                  </li>
              </ul>
          {{/dropdown-list}}
        </li>
    </ul>
{{/dropdown-list}}
