{{render "mapLocation" controller="mapLocation"}}
{{view "map" id="map"}}
<div class="logo">
    <img src="assets/images/canimap_cross_on_dog.png"/>
</div>
<div class="top-container btn-group">
  {{render "mtgTrailBasic" controller="mtgTrail"}}
  <div class="mtg-mode">
    <a role="button" class="btn btn-success radius-right" data-toggle="tooltip"
       title={{t "map.menu.switch.expert.tooltip"}} {{bind-attr href=expertURL}}>
      {{t "map.menu.switch.expert"}}
    </a>
  </div>
  {{render "mapLayers" controller="mapLayers"}}
</div>
<input type="file" id="input-file-cmp" class="hidden" accept=".cmp"/>
<input type="file" id="input-file-gpx" class="hidden" accept=".gpx"/>

