{{render "mapDraw" mapDraw}}
{{render "mapLocation" mapLocation}}
{{render "map" map}}
<div class="top-container">
  {{render "mapData" mapData}}
  {{render "mapWeather" mapWeather}}
  {{render "mapLayers" map}}
</div>

