{{#dropdown-list item="Layers" img="assets/images/layers.png" btn-radius="no-radius"}}
    <ul {{bind-attr class=":dropdown-menu :map-layers-dropdown"}}>
        <li>
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>Layer</th>
                    <th>Opacity</th>
                </tr>
                </thead>
                <tbody>
                {{#each layer in tileLayers itemController="mapLayer"}}
                    <tr {{bind-attr id=layer.model.identifier}}>
                        <td class="layer-id">
                            <label class="hint--top" {{bind-attr data-toggle="tooltip" data-original-title=layer.model.title}}>
                              {{input type="checkbox" checked=layer.visible}}
                              {{str-sub layer.model.title 20}}
                            </label>
                        </td>
                        <td>
                          {{input class="map-layer-draggable range" type="range" name="range" min="0" max="100" value=layer.opacity}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </li>
    </ul>
{{/dropdown-list}}

