{{render "mapLocation" controller="mapLocation"}}
{{view id="map"}}
<div class="logo">
    <img src="assets/images/canimap_cross_on_dog.png"/>
</div>
<div class="top-container btn-group">
  {{render "mtgTrail" controller="mtgTrail"}}
  {{render "mtgTrailSave" controller="mtgTrail"}}
  {{render "mapWeather" controller="mapWeather"}}
  {{render "mapLayers" controller="mapLayers"}}
  <div class="mtg-mode">
      <a role="button" class="btn btn-success radius-right" data-toggle="tooltip"
         title={{t "map.menu.switch.basic.tooltip"}} {{bind-attr href=basicURL}}>
        {{t "map.menu.switch.basic"}}
      </a>
  </div>
</div>
{{render "mtgInfo" controller="mtgTrail"}}
<input type="file" id="input-file-cmp" class="hidden" accept=".cmp"/>
<input type="file" id="input-file-gpx" class="hidden" accept=".gpx"/>

