{{#each trails as |trail|}}
    <tr class={{if trail.selected 'success' ''}} {{action 'changeTrack' trail}}>
        <td class="mtg-trail-trails-title">{{trail.name}}</td>
        <td class="mtg-trail-tools-buttons">
            <div class="btn-group">
                <button type="button"
                        data-toggle="tooltip"
                        title={{t "map.menu.mtg.trail.delete.tooltip" }}
                        class="btn btn-warning" {{action 'deleteTrailAction' selectedTrail}}>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                <button type="button"
                        data-toggle="tooltip"
                        title={{t "map.menu.mtg.trail.export.tooltip"}}
                        class="btn btn-default" {{action 'exportTrailAction' selectedTrail}}>
                    <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                </button>
            </div>
        </td>
    </tr>
{{/each}}
