{{#dropdown-list item="Level" img="assets/images/rocket.png" btn-radius="no-radius" toggle="tooltip" title="Select the trail's level"}}
    <ul class="dropdown-menu mtg-trail-level-dropdown">
        <li class="header">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th colspan="2">
                        <div class="input-group input-group-sm">
                          {{input type="text" class="form-control" value=addLevelName placeholder="Level name" size="8"}}
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" {{action 'addLevel'}}>
                              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                          </span>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                {{#each level in levels}}
                    <tr class={{if level.selected 'success' ''}}>
                        <td {{action 'changeLevel' level }}>
                          {{level.name}}
                        </td>
                        <td class="mtg-level-tools-buttons">
                          <button type="button" toggle="tooltip"
                                  title="Delete the level from your browser's memory"
                                  class="btn btn-warning" {{action "deleteLevel" level}}>
                              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                          </button>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </li>
    </ul>
{{/dropdown-list}}
