{{#dropdown-list item="Tools" icon="th" btn-radius="no-radius" toggle="tooltip" title="map.menu.mtg.trail.tools.tooltip"}}
    <ul class="dropdown-menu mtg-trail-tools-dropdown">
        <li class="btn-group">
          {{render "mtgTrailToolsTraceTrailer" controller="mtgTrace"}}
          <button type="button"
                  data-toggle="tooltip"
                  title="{{followPathModeTitle}}"
                  class="btn btn-brown-red map-draw-follow-path hidden" {{action 'toggleFollowPathMode'}}>
              <span class="glyphicon glyphicon-{{followPathModeIcon}}" aria-hidden="true"></span>
          </button>
          {{render "mtgTrailToolsTraceTeam" controller="mtgTrace"}}
          {{render 'mtgLevels' controller="mtgLevel"}}
          {{render 'mtgItems' controller="mtgItem"}}
          {{render "mtgTrailToolsImportTraces" controller="mtgTrace"}}
          {{render "mtgTrailToolsExportTraces" controller="mtgTrace"}}
        </li>
    </ul>
{{/dropdown-list}}
