{{#dropdown-list item="Tools" icon="th" btn-radius="no-radius" toggle="tooltip" title="map.menu.mtg.trail.tools.tooltip"}}
    <ul class="dropdown-menu mtg-trail-tools-dropdown">
        <li class="btn-group">
          {{render "mtgTrailToolsTraceTrailer" controller="mtgTrace"}}
          {{#path-mode command=command }}{{/path-mode}}
          {{render "mtgTrailToolsTraceTeam" controller="mtgTrace"}}
          {{render 'mtgLevels' controller="mtgLevel"}}
          {{render 'mtgItems' controller="mtgItem"}}
          {{render "mtgTrailToolsImportTraces" controller="mtgTrace"}}
          {{render "mtgTrailToolsExportTraces" controller="mtgTrace"}}
        </li>
    </ul>
{{/dropdown-list}}
