{{#dropdown-list item="Items" img="assets/images/basket.png" btn-radius="no-radius" toggle="tooltip" title="Manage the trail's items"}}
    <ul {{bind-attr class=":dropdown-menu :map-items-dropdown"}}>
        <li>
            <table class="table table-hover table-striped table-condensed">
                <thead>
                <tr>
                    <th></th>
                    <th class="mtg-item-position-container">
                        <div class="btn-group">
                            <label class="btn btn-default btn-sm mtg-item-position" data-toggle="tooltip" title="On the ground">
                              {{ radio-button name='position' value='P' groupValue=currentItem.position }}G
                            </label>
                            <label class="btn btn-default btn-sm mtg-item-position" data-toggle="tooltip" title="Suspended">
                              {{ radio-button name='position' value='S' groupValue=currentItem.position }}S
                            </label>
                            <label class="btn btn-default btn-sm mtg-item-position" data-toggle="tooltip" title="Hidden">
                              {{ radio-button name='position' value='C' groupValue=currentItem.position }}H
                            </label>
                        </div>
                    </th>
                    <th class="item-type">
                      {{view "select" class="form-control input-sm" content=itemTypes value=currentItem.type}}
                    </th>
                    <th>
                      {{input type="text" class="form-control input-sm" value=currentItem.description placeholder="Item description" size="14"}}
                    </th>
                    <th>
                        <button type="button" class="btn btn-default btn-sm" {{action 'addItem'}}>
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                {{#each item in selectedTrail.items itemController="mtgItem"}}
                    <tr>
                        <td class="mtg-item-index-container">
                          {{item.model.index}}
                        </td>
                        <td class="mtg-item-position-container">
                          {{item.model.position}}
                        </td>
                        <td class="item-type">
                          {{item.model.type}}
                        </td>
                        <td>
                          {{item.model.description}}
                        </td>
                        <td class="btn-group">
                            <button type="button" class="btn btn-success btn-sm" {{bind-attr disabled=isPositionDisabled}} {{action 'positionItem' item.model}}>
                                <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" {{action 'deleteItem' item.model}}>
                                 <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </li>
    </ul>
{{/dropdown-list}}
