{{#dropdown-list item="Import" icon="import" toggle="tooltip" title="map.menu.mtg.trail.tools.import.tooltip"}}
    <ul class="dropdown-menu mtg-trail-tools-import-dropdown">
        <li>
            <table class="table table-hover table-condensed">
                <tbody>
                <tr>
                    <td {{action 'trailerTraceImportAction'}}>
                    <span type="button"
                          class="btn btn-pink mtg-trail-import-trailer"
                          data-toggle="tooltip"
                          title={{t "map.menu.mtg.trail.tools.import.trailer.tooltip" }}>
                        <img src="assets/images/walk.png" class="inverted" width="16" height="16"/>
                    </span>
                      {{t "map.menu.mtg.trail.tools.import.trailer" }}
                    </td>
                </tr>
                <tr>
                    <td {{action 'teamTraceImportAction'}}>
                    <span type="button"
                          class="btn btn-warning mtg-trail-import-team"
                          data-toggle="tooltip"
                          title={{t "map.menu.mtg.trail.tools.import.team.tooltip" }}>
                        <img src="assets/images/track.png" class="inverted" width="16" height="16"/>
                    </span>
                      {{t "map.menu.mtg.trail.tools.import.team" }}
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
    </ul>
{{/dropdown-list}}
