<div class="input-group width-full">
    {{input class="form-control btn-group" placeholder="trail's name" value=addTrailName enter="addTrailAction"}}
    <span class="input-group-btn">
      <button type="button"
              data-toggle="tooltip"
              title={{t "map.menu.mtg.trail.add.tooltip" }}
              class="btn btn-default" {{action 'addTrailAction'}}>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <button type="button"
              data-toggle="tooltip"
              title={{t "map.menu.mtg.trail.import.tooltip" }}
              class="btn btn-default" {{action 'importTrailAction'}}>
          <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
      </button>
    </span>
</div>
