{{#dropdown-list selected=selectedItem item="Items" img="assets/images/basket.png"}}
    <ul {{bind-attr class=":dropdown-menu :map-items-dropdown"}}>
        <li>
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th></th>
                    <th class="mtg-item-position-container">
                        <div class="btn-group">
                            <label class="btn btn-default btn-sm mtg-item-position" data-toggle="tooltip" title="On the ground">
                              {{ radio-button name='position' value='P' groupValue=currentItem.position }}G
                            </label>
                            <label class="btn btn-default btn-sm mtg-item-position" data-toggle="tooltip" title="Suspended">
                              {{ radio-button name='position' value='S' groupValue=currentItem.position }}S
                            </label>
                            <label class="btn btn-default btn-sm mtg-item-position" data-toggle="tooltip" title="Hidden">
                              {{ radio-button name='position' value='C' groupValue=currentItem.position }}H
                            </label>
                        </div>
                    </th>
                    <th class="item-type">
                      {{view "select" class="form-control input-sm" content=itemTypes value=currentItem.type}}
                    </th>
                    <th>
                      {{input type="text" class="form-control input-sm" value=currentItem.description placeholder="Item description" size="14"}}
                    </th>
                    <th>
                        <button type="button" class="btn btn-default btn-sm" {{action 'addItem'}}>
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                {{#each itemAtPoint in selectedTrail.itemAtPoints itemController="mtgItem"}}
                    <tr>
                        <td class="mtg-item-index-container">
                            {{itemAtPoint.model.item.index}}
                        </td>
                        <td class="mtg-item-position-container">
                            <div class="btn-group">
                                <label class="btn btn-default btn-sm mtg-item-position" data-toggle="tooltip" title="On the ground">
                                  {{radio-button name=itemAtPoint.model.item.id value='P' groupValue=itemAtPoint.model.item.position }}G
                                </label>
                                <label class="btn btn-default btn-sm mtg-item-position" data-toggle="tooltip" title="Suspended">
                                  {{radio-button name=itemAtPoint.model.item.id value='S' groupValue=itemAtPoint.model.item.position }}S
                                </label>
                                <label class="btn btn-default btn-sm mtg-item-position" data-toggle="tooltip" title="Hidden">
                                  {{radio-button name=itemAtPoint.model.item.id value='C' groupValue=itemAtPoint.model.item.position }}H
                                </label>
                            </div>
                        </td>
                        <td class="item-type">
                          {{view "select" class="form-control input-sm" content=itemTypes value=itemAtPoint.model.item.type}}
                        </td>
                        <td>
                          {{input type="text" class="form-control input-sm" value=itemAtPoint.model.item.description placeholder="Item description" size="14"}}
                        </td>
                        <td class="btn-group">
                            <button type="button" class="btn btn-success btn-sm" {{bind-attr disabled=isPositionDisabled}} {{action 'positionItem' itemAtPoint.model.item}}>
                                <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-info btn-sm" {{action 'saveItem' itemAtPoint.model.item}}>
                                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" {{action 'deleteItem' itemAtPoint.model.item}}>
                                 <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </li>
    </ul>
{{/dropdown-list}}
